/* ##########################################
File Name: style.css
Company: House of Glamour
Created by: Einstein Bulinda


[Table of Contents]

1. Common
2. Layout
3. Main logo
4. Footer
5. Responsive css
6. Product Images
7. Card
8. Rating 
*/

/*#############################
1. Common 
###############################*/
html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem*/
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}
header a {
  text-decoration: none;
  transition: 0.5s all ease;
}
a:hover {
  color: #f80f07 !important;
  box-shadow: 0 4px 2px -2px #f11809;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
  padding: 0.5rem;
}
input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  background-color: #f8f8f8;
  cursor: pointer;
  transition: 0.5s all ease-in;
}
input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem #404040 solid;
}
button:hover {
  color: #f8f8f8;
}
button.primary {
  background-color: #f11809;
}
button.block {
  width: 100%;
}
/*################################
2. Layout 
#################################*/
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 8rem 1fr 5rem;
  height: 100%;
}
header {
  grid-area: header;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}
.product-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.product-row.center {
  justify-content: center;
}
.product-row.top {
  align-items: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}
.min-30 {
  min-width: 30rem;
}
.badge {
  background-color: #f02020;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.2rem;
  margin-left: 0.2rem;
}
/*###############################
3. Main Logo 
#################################*/
.navbar-brand img {
  height: 6rem;
  max-height: 100%;
}
a.navbar-brand:hover {
  box-shadow: none;
}

/*#############################
4. Footer 
###############################*/
p {
  color: #999;
  line-height: 2.5rem;
}
footer h2 {
  color: #fff;
  font-size: 1.8rem;
}
.footer-top {
  background: #111;
  padding: 3rem 0;
}
.segment-one h3 {
  font-family: Courgette;
  color: #e22626;
  letter-spacing: 0.3rem;
  margin: 1rem 0;
}
.segment-one a {
  color: #999;
  font-weight: normal;
}
.segment-two h2,
.segment-three h2,
.segment-four h2 {
  color: #fff;
  font-family: Poppins;
  text-transform: uppercase;
}
.segment-two h2:before,
.segment-three h2:before,
.segment-four h2:before {
  content: "|";
  color: #e22626;
  padding-right: 1rem;
}
.segment-two ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.segment-two ul li {
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.3);
  line-height: 3.5rem;
}
.segment-two ul li a {
  color: #999;
  text-decoration: none;
}
.segment-three a {
  background: #494848;
  width: 4rem;
  height: 4rem;
  display: inline-block;
  border-radius: 50%;
  box-shadow: none;
  margin: 0.5rem;
}
.segment-three a i {
  font-size: 2rem;
  color: #fff;
  padding: 1rem 1.2rem;
}
.segment-four form {
  box-sizing: border-box;
  display: flex;
}
.segment-four form input[type="submit"] {
  background: #e22626;
  border: none;
  padding: 0.6rem 1.5rem;
  margin-left: -0.5rem;
  color: #fff;
  text-transform: uppercase;
}
.footer-bottom-text {
  text-align: center;
  background: #000;
  line-height: 5rem;
}
/*################################
5. Responsive css 
##################################*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .md-mb-30 {
    margin-bottom: 3rem;
  }
}
@media only screen and (max-width: 767px) {
  .sm-mb-30 {
    margin-bottom: 3rem;
  }
  .footer-top {
    padding: 5rem;
  }
}

/*##################################
6. Product Images 
####################################*/
img {
  border-radius: 0.5rem;
}
img.small {
  max-width: 5rem;
  width: 100%;
}
img.medium {
  max-width: 29rem;
  max-height: 29rem;
  height: 100%;
  width: 100%;
}
img.large {
  width: 100%;
}

/*####################################
7. Card 
######################################*/
.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
}
.card > a {
  box-shadow: none;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  font-size: 2rem;
}
/*##################################
8. Rating 
###################################*/
.rating span {
  color: #f0c040;
  margin: 0.1rem;
}
.rating span:last-child {
  color: #404040;
}

/* ####################################
9. Alert
####################################### */
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
  margin: 1rem;
}
.alert-info {
  color: #2020a0;
  background-color: #c0c0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}
/* ####################################
10. About Us
####################################### */
.profile {
  justify-content: space-between;
}
.profile h1 {
  color: #f11809;
  font-size: 5rem;
}
.profile h2 {
  font-size: 3rem;
}
.profile p {
  font-size: 2rem;
  font-weight: 400;
}
.vision,
.mission {
  max-width: 50rem;
}
